:root {
  --text-preset-1: 40px;
  --text-preset-2: 24px;
  --text-preset-3: 16px;
  --text-preset-4: 14px;
  --line-height: 120%;
  --color-red: #c73b0f;
  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;
  --color-green: #1ea575;
  --color-black: #000000;
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  color: #000;
  background-color: var(--color-rose-50);
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  font-size: var(--text-preset-1);
}
h2 {
  font-size: var(--text-preset-2);
}
h3 {
  font-size: var(--text-preset-3);
}
p {
  font-size: var(--text-preset-4);
}
.header {
  padding: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 26px;
}

@media screen and (width > 1024px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
.filter {
  width: 77px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid var(--color-rose-400);
  background-color: var(--color-white);
}

.filters {
  display: flex;
  gap: 19px;
  margin-top: 6px;
}
@media screen and (width> 1024px) {
  .filter {
    width: 100px;
    height: 34px;
  }
}

.red {
  color: var(--color-rose-100);
  background-color: var(--color-red);
}

.container-all-product {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (width > 768px) {
  .container-all-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 32px;
  }
}

.container-product {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.container-image {
  position: relative;
  display: inline-block;
}
.image {
  border-radius: 8px;
}

.add-cart {
  position: absolute;
  bottom: -22px;
  left: calc(50% - 80px);
  width: 160px;
  height: 44px;
  background-color: var(--color-white);
  border: 1px solid var(--color-rose-400);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.image-add {
  width: 20px;
}

.add-cart-remove {
  position: absolute;
  bottom: -22px;
  left: calc(50% - 80px);
  width: 160px;
  height: 44px;
  background-color: var(--color-red);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.add-remove {
  color: var(--color-white);
}

.container-tex-cart {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon {
  border: 1px solid var(--color-white);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 4px;
}

.container-tex-cart > h3 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.price,
.title-cart {
  color: var(--color-red);
}
.image-cart {
  width: 128px;
}
.text-card {
  color: var(--color-rose-500);
}
.container-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.container-cart-generate {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  gap: 40px;
}

@media screen and (width> 1024px) {
  .container-cart-generate {
    width: 384px;
    flex-shrink: 0;
    /* sirve para que flex no aplaste el elemento */
    height: fit-content;
  }
}

.element-disable {
  display: none;
}
